<div class="container">
  <div class="starter-template">
    <h1>bye bye :(</h1>
    <form action="/delete" method="post">
      github username <input type="text" name="user">
      <input type="submit" value="delete">
    </form>
  </div>
</div>
