
<div>
  twitch plays meritocracy!<br>
  click here to add: <a href="<% request.uri_base %>/add"><% request.uri_base %>/add</a><br>
  click here to delete: <a href="<% request.uri_base %>/delete"><% request.uri_base %>/delete</a><br>
</div>
